h1{
  font-size: 65px;
  color:yellow;
  height: 100px;
  width: 400px;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;

}
input{
  font-size: 30px;
  position: fixed;
  height: 30px;
  width: 400px;
  position: fixed;
  top: 225px;
  left: 0;
  right: 0;
  margin: 0 auto;


}
button{
  height: 20px;
  width:150px;
  top: 260px;
  left: 0;
  right: 255px;
  margin: 0 auto;
  position: fixed;
}

button:hover {
    background-color: yellow;
}
h2{
  font-size: 60px;
  height: 100px;
  width: 650px;
  position: fixed;
  top: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

h3{
  font-style: italic;
  font-size: 65px;
  color: white;
  height: 100px;
  width: 600px;
  position: fixed;
  top: 500px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

body{
  background-image: url('https://i.gifer.com/72LE.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: inherit;
  background-attachment: fixed;
  position:absolute;

}
