h1{
  font-size: 65px;
  color:yellow;
  position: fixed;
  top: 60%;
  left: 35%;
  margin-top: -300px;
  margin-left: -100px;
}
input{
  height:50px;
  font-size:25px;
  position: fixed;
  top: 55%;
  left: 50%;
  margin-top: -140px;
  margin-left: -140px;

}
button{
  position: fixed;
  top: 55%;
  left: 44%;
  margin-top: -75px;
  margin-left: -100px;
}

button:hover {
    background-color: yellow;
}
h2{
  font-size: 50px;
  position: fixed;
  top: 50%;
  left: 25%;
  margin-top: 50px;
  margin-left: -100px;
}
p{
  border:2px;
  color:white;
  font-size:50px;
  position: fixed;
  top: 50%;
  left: 25%;
  margin-top: 100px;
  margin-left: -100px;

}

body{
  background-image: url('https://i.gifer.com/72LE.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: inherit;
  background-attachment: fixed;
  position:absolute;

}
